In [5]:
import pandas as pd
import matplotlib.pyplot
import seaborn as sns

In [7]:
data = pd.read_csv("data_2.csv")
data.head()

   HomePlanet  CryoSleep  Destination   Age  Spending_cost  Transported
0           1          0            2  39.0            0.0        False
1           0          0            2  24.0          736.0         True
2           1          0            2  58.0        10383.0        False
3           1          0            2  33.0         5176.0        False
4           0          0            2  16.0         1091.0         True